# Database config — JANGAN di-upload!
koneksi.php

# File upload user
assets/uploads_bukti/*
!assets/uploads_bukti/.gitkeep
assets/img_produk/*
!assets/img_produk/.gitkeep
assets/img_banner/*
!assets/img_banner/.gitkeep

# File sistem
.DS_Store
Thumbs.db
.vscode/
*.log

node_modules/
package-lock.json